<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
                <a class="navbar-brand" routerLink='list'><strong>User Application</strong></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a routerLink='list'><strong>List</strong></a>
            </li>
            <li>
            <a routerLink='create'><strong>Create</strong></a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
<router-outlet></router-outlet>
</div>